/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 18, 2014, 12:18:03 PM
    Author     : Codelord
*/


.navigation{width: auto;
            float: right;
            height: auto;
            position: relative;
            top: 0px;}   

.navigation li:hover {
    text-shadow: 1px 0px 15px #FFFFFF;  

}

.flagimage{
    float:left;
    margin-top: 3px;
    margin-left: 10px;
}
.flagdiv{
    float: left;
    margin-top: 10px;
    margin-left: 12px;
    color: #FFF;
    font-family: sans-serif;
    font-size: 16px;
}
body{
    font-family:sans-serif;
    margin: 0 0;overflow: hidden;
}

ul{               
    display: block;
    position: relative;
    bottom:8px;
}

.menuheader{width:100%;height:auto;height: 32px;
            width: 100%;
            background-color: #575756;
            color: white;Z-index:3;position: fixed;top: 0px;}      



.main_menu{
    display: inline;
    margin-right: 41px;
}
a{
    color: #FFF;    
    text-decoration: none;
}

#dropdown_menu{  
    -webkit-column-width: 130px;
    height: 71px;
    /*                background-color: #575756;*/
    position: absolute;
    top: 15px;
    padding-top: 7px;
    list-style: none;
    -moz-padding-start: 6px;
    -webkit-padding-start: 6px;
    /* z-index: -1; */
    left: 51px;
    display: none;
    width: 36%;
}
#dropdown_menu li{
    margin-top:10px;

}

#drop:hover #dropdown_menu{display:block;}

.footermenu_ul {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
    float: right;
    margin-top: 11px;
}     

#copyright1 {
    color: white;
    font-family: Arial,Helvetica,sans-serif;
    color: white;
    font-size: 13px;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}

.footer {
    position: absolute;
    bottom: 0%;
    width: 100%;
    display: block;
    background-color: rgb(87,87,86);
    height: 34px;
    z-index: 10;
}
.footermenu_ul_li {
    display: inline-block;
    padding-right: 17px;
    padding-top: 5px;
}
.Home_MDCCoorpLogo{
    position: absolute;
    top: 69.5%;
    left: 3%;
    opacity: 1.0;
    /* height:150px; */
    width: 7%;
}
@media (min-width:991px){
    .Home_MDCCoorp_LastPartArrow{
        position: absolute;
        top: 34.2%;
        left: 95.23%;
        opacity: 1.0;
        transform: rotate(350deg);
        -ms-transform:rotate(350deg); /* IE 9 */ 
        -webkit-transform: rotate(350deg); /* Safari and Chrome */;
    }}

.container{
    color: #444;
    overflow: auto;
    position: absolute;
    top: 0px;
    padding-left: 15%;
    padding-right: 15%;
    height: 93%;
}
