/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 17, 2014, 12:43:13 PM
    Author     : Codelord
*/

.navigation{
    width: auto;
    float: right;
    height: auto;
    position: relative;
    top: 8px;
}   

.navigation li:hover {
    text-shadow: 1px 0px 15px #FFFFFF;  

}

ul{               
    display: block;

}

.menu2{
    width:100%;
    height:auto;
    height: 32px;
    width: 100%;
    color: white;
}      



.main_menu{
    display: inline;
    margin-right: 41px;
}
a{
    color: #e7e7e7;    
    text-decoration: none;
}
#dropdown_menu{  
    -moz-column-width: 143px;
    -webkit-column-width: 130px;
    height: 71px;
    position: absolute;
    top: 15px;
    list-style: none;
    -moz-padding-start : 6px;
    -webkit-padding-start : 6px;
    left: 49px;
    display:none;
}
#dropdown_menu li{
    margin-top:10px;
}

#drop:hover #dropdown_menu{display:block;text-align: center;}
