@media screen and (max-width:638px){
/*.mdpara{
    position: absolute;
    top:50%;
     left:0%;
 
    width: 100%;
}
.mdimg{
    margin-left: 46%;
    width: 120%;
}



.mdpara1{
    position: absolute;
    top:100%;
     left:0%;
 
    width: 100%;
}
.mdimg1{
    margin-left: 42%;
    width: 100%;
}
*/

}